#container {
    display: flex;
    flex-direction: row;
}

.side {
    width: 30%;
    padding: 10px;
    height: 100vh;
    background-color: #555555;
    color: #ffffff
}

.side li {
    margin: 5px
}

.side a {
    color: #ffffff
}

.main {
    width: 70%;
    padding: 10px;
    height: 100vh;
}

#none {
    text-decoration: none;
}

.kasen_red {
    text-decoration: 2px underline;
    text-decoration-color: red;
}

.main img {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 7px;
    margin-bottom: 15px;
}